<!DOCTYPE html>
<html lang {{ .html_attr }}>

<head {{ .html_head_attr }}>
    <title>{{ .html_head_title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ .html_head }}{{define "assets"}}
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/main.css">
    <script src="/assets/main.js"></script>
    {{end}}
</head>

<body {{ .html_body_attr }}>{{ template "body" .}}{{define "body"}}{{end}}</body>

</html>